<!DOCTYPE html>
<html lang="en">
<h1 style="color:red"><center>Fuel Data</center></h1>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Diesel Refill Data</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/material-icon/css/material-design-iconic-font.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/nouislider/nouislider.min.css')}}">

    <!-- Main css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>

    <div>

        <div class="container">
            <div class="signup-content">
                <div class="signup-img">
                    <img src="static/images/diesel.jpg" alt="image">
                </div>
                <div class="signup-form">
                    <form method="POST" class="register-form" id="register-form" action="fuel_enter">
                        <div class="form-row">
                            <div class="form-group">
                                <div class="form-input">
                                    <label for="first_name" class="required">fid</label>
                                    <input type="text" name="fid" id="fid" />
                                </div>
                                <div class="form-input">
                                    <label for="first_name" class="required">fuel</label>
                                    <input type="text" name="fuel" id="fuel" />
                                </div>
                                <div class="form-input">
                                    <label for="first_name" class="required">ppid</label>
                                    <input type="text" name="ppid" id="ppid" />
                                </div>


                                </div>



                                    </div>
                                </div>



                            </div>
                        </div>

                        </div>

                          <div class="form-submit">
                            <input type="submit" value="Submit" class="submit" id="submit" name="submit" />

                </div>


                <form style="text-align: center; margin-top: 6%;" action='/fuel_enter' method="POST">
        <div style="padding: 10px 0;">
            <input style="background-color: #d3d1d1; padding: 10px 20px;" type="text" name="fid" placeholder="fid">
        </div>
        <div style="padding: 10px 0;">
            <input style="background-color: #d3d1d1; padding: 10px 20px;" type="text" name="fuel" placeholder="fuel">
        </div>
        <div style="padding: 10px 0;">
            <input style="background-color: #d3d1d1; padding: 10px 20px;" type="text" name="ppid" placeholder="ppid">
        </div>

        <button style="margin-top: 30px;" type="submit" value="Submit">Submit</button>
    </form>
                    </form>

            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/nouislider/nouislider.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/wnumb/wNumb.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/jquery-validation/dist/jquery.validate.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/jquery-validation/dist/additional-methods.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
</body>
</html>







